@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 98%;
    margin: 0px auto;
    padding: 30px 0px;

}

.logo {
    color: #122853;
    font-weight: 900;
    font-size: 1.4rem;
}

.logo span {
    background-color:#014dd5;
    color: #ffffff;
    padding:0px 5px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 1px;
    margin-left: 2px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 40px;
}

.menu li a{
    margin: 0px 20px;
    color: #303030;
    font-weight: 500;
}

.menu li a:hover {
    color: #014dd5;
}

.nav-appointment-btn {
    height: 45px;
    padding: 0px 20px;
    border-radius: 4px;
    background-color: #014dd5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.contact {
    margin-bottom: 40px;
}



#cont-text {
    text-align: center;
    background-color: #122853;
    padding: 10px;
    color: white;
    line-height: 1.3;
}

#tab-heading {
    font-size: 50px;
}

#cont-text p{
    margin-top: 5px;
    font-size: 14px;
    color: #ffffffb3;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70%;
    background: white;
    border-radius: 20px;
    padding: 20px 60px 40px 40px;
    margin-bottom: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.left-side {
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-side {
    width: 80%;
    height: 100%;
    margin-left: 20px;
}

.details {
    margin: 10px;
    line-height: 1.2;
    text-align: center;
}

i {
    font-size: 30px;
    color: #014dd5;
    margin-bottom: 10px;
}

.topic {
    font-size: 18px;
    font-weight: 700;
    color: #122853;
}

.left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    background: #afafb6;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.text-one , .text-two {
    color: rgba(0, 0, 0, 0.715);
    font-weight: 500;
    font-size: 15px;
}

.topic-text {
    color: #014dd5;
    font-size: 30px;
    font-weight: 700;
}

.right-side p {
    font-size: 17px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.input-box input , textarea{
    height: 100%;
    width: 100%;
    padding:15px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f0f1f8;
    resize: none;
}

.message-box {
    min-height: 110px;
}

.btn input {
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background: #014dd5;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn input:hover {
    background: #122853;
}


footer{
    width: 100%;
    background-color: #f5f7fb;
}

.footer-container{
    padding: 50px 0px;
    max-width: 1200px;
    width: 90%;
    padding: 50px 0px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-company-box{
    max-width: 330px;
}

.footer-company-box p{
    color: #585858;
    margin: 5px 0px;
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
}

.footer-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-social a{
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    color: #333333;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}

.footer-social a:hover {
    background-color: #122853;
    color: #fff;
}

.footer-link-box{
    color: #122853;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-link-box ul{
    margin-top: 5px;
}

.footer-link-box ul li a{
    color: #585858;
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: flex;
    transition: all ease 0.3s;
}

.footer-link-box ul li a:hover{
    color: #122853;
}

hr{
    opacity: 0.2;
}

.footer-bottom{
    max-width: 1000px;
    width: 90%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom strong{
    color: #585858c4;
    margin: 5px 0px;
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
}


/*making site responsive*/

.menu-btn {
    display: none;
}

@media(max-width:950px) {
    .navigation{
        background-color: #fff;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        position: relative;
    }

    .logo,
    .nav-appointment-btn,
    .menu-btn{
        z-index:103 ;
    }

    .logo {
        margin-right: auto;
        margin-left: 20px;
    }

    .footer-container .logo {
        margin-left: 0px;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-shadow: 2px 30px 30px rgba(0, 0, 0, 0.06);
        top: 100%;
        left: 0px;
    }

    .menu::after {
        content: "";
        position: absolute;
        background-color: #fff;
        left: 0px;
        top: -100%;
        width: 100%;
        height: 100%;
    }

    .menu li{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .menu li a{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 30px 20px;
        margin: 0px;
        height: 45px;
    }

    .menu-icon {
        cursor: pointer;
        float: right;
        padding: 10px 0px;
        position: relative;
        user-select: none;
        z-index: 106;
    }

    .menu-icon .nav-icon {
        background-color: #181818;
        display: block;
        position: relative;
        height: 2px;
        width: 25px;
        transition: all ease-out 0.2s;
    }

    .menu-icon .nav-icon::before,
    .menu-icon .nav-icon::after{
        background-color: #181818;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all ease-out 0.2s;
    }

    .menu-icon .nav-icon::before {
        top: 9px;
    }

    .menu-icon .nav-icon::after{
        top: -9px;
    }

    .menu-btn:checked ~ .menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0px;
    }

    .menu-btn:checked ~ .menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0px;
    }

    .menu-btn:checked ~ .menu-icon .nav-icon {
        background-color: transparent;
    }

    .menu-btn:checked ~ .menu {
        display: block;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
        display: grid;
        grid-gap: 40px;
    }

    .footer-container .logo {
        margin-left: 0px;
    }
}

@media(max-width:520px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}

@media(max-width:320px){
    .nav-appointment-btn{
        display: none;
    }
}

@media(max-width:950px){
    .container {
        width: 70%;
        padding: 20px 35px 40px 35px;
    }

}

@media(max-width:820px){
    .container {
        margin: 40px 0;
        height: 100%;
    }

    .content {
        flex-direction: column-reverse;
    }

    .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .left-side::before {
        display: none;
    }

    .right-side {
        width: 100%;
        margin-left: 0;
    }

}
